<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
    </head>
    <body >
	<th:block th:include="/_navbar"></th:block>


  <!-- /login?error=true -->
<!--       <div th:if="${#request.getParameter('error') == 'true'}" -->
<!--             style="color:red;margin:10px 0px;"> -->
<!--          Login Failed!!!<br /> -->
<!--          Reason : -->
<!--          <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}" -->
<!--             th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"> -->
<!--                 Static summary -->
<!--          </span> -->
            
<!--       </div> -->

<!--         <form class="login-form marginlist" action="./" method="POST"> -->
		<form class="login-form marginlist" th:action="@{/admin/save-product}" th:object="${product}" method="POST">  
        
<!--             <div class="login-form__logo-container"> -->
<!--                 <img class="login-form__logo" src="https://via.placeholder.com/350x150" alt="Logo"> -->
<!--             </div> -->
            <div class="login-form__content">
                <div class="login-form__header text-white">Ajouter un produit</div>
             
                <input class="login-form__input" type="text" th:field="*{name}" required="true" placeholder="Titre">
                <input class="login-form__input" type="textarea" th:field="*{description}" required="true" placeholder="Description">
                <input class="login-form__input" type="text" th:field="*{price}" required="true" placeholder="Prix">
                <input class="login-form__input" type="text" th:field="*{year}" required="true" placeholder="Année">
                <input class="login-form__input" type="text" th:field="*{length}" required="true" placeholder="Durée">
                <input class="login-form__input" type="text" th:field="*{category}" required="true" placeholder="Catégorie">
                <input class="login-form__input" type="text" th:field="*{directorName}" required="true" placeholder="Réalisateur">
                <input class="login-form__input" type="text" th:field="*{picture}" required="true" placeholder="Image">
                
              
                <button class="login-form__button" type="submit">Créer</button>
              
            </div>
				</form>
				





				<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
    </body>
</html>
