<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
<meta charset="utf-8">
<title>Paiement</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<style>
body {
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
}
</style>


</head>
<body>

	<th:block th:include="/_navbar"></th:block>

 <div id="cart" class="col-md-12 marginlist"><!-- col-md-9 Begin -->

<div class="container box">
    <div class="page-header text-center">
     <h3 class="text-left" style="color: #2931C9">PORTAIL DE PAIEMENT</h3>
    </div>
    <!-- Credit Card Payment Form - START -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="inlineimage"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Mastercard-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Discover-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Paypal-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/American-Express-Curved.png"> </div>
							</div>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-12 box">
                                    <div class="form-group"> <label>NUMERO DE LA CARTE</label>
                                        <div class="input-group"> <input type="tel" class="form-control" placeholder="Valid Card Number" required="true"/> <span class="input-group-addon"><span class="fa fa-credit-card"></span></span> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7 box">
                                    <div class="form-group"> <label><span class="hidden-xs"></span><span class="visible-xs-inline">DATE</span> EXP</label> <input type="tel" class="form-control" placeholder="MM / YY" required="true"/> </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right box">
                                    <div class="form-group"> <label>CV CODE</label> <input type="tel" class="form-control" placeholder="CVC" required="true"/> </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 box">
                                    <div class="form-group"> <label>NOM DU TITULAIRE</label> <input type="text" class="form-control" placeholder="Card Owner Name" required="true"/> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12 bluecolor"> <input class="btn btn-outline-light my-2 my-sm-0" type="button" onclick="location.href='/users/validate-payment';" value="Confirmer paiement" /> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

   

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>