<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">>
<head>
    <meta charset="utf-8">
<title>Modifier un produit</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<style>
body {
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
}
</style>


</head>
<body>

      <th:block th:include="/_navbar"></th:block>


	<div class="col-md-12">


	</div>

	<h4>Modifier produit</h4>

	<form th:action="@{/admin/update-product}" th:object="${product}"
		method="POST">

		<br /> 
		<input type="hidden" th:field="*{id}" /> 
		<span th:errors="*{id}"></span> <br /> 
			
			NAME: <br /> <input type="text" th:field="*{name}" /> 
			<span th:errors="*{name}"></span> <br />
		
		    CATEGORIE: <br /> <input type="text" th:field="*{category}" /> 
		    <span th:errors="*{category}"></span> <br /> 
		    
		     Prix: <br /> <input type="text" th:field="*{price}" /> 
		    <span th:errors="*{price}"></span> <br /> 
			
			<input type="submit"
			value="Create" />
	</form>





	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>